<!-- Footer -->
<footer class="containter has-text-centered">
    <div>
        <img src="/images/pet-7.png" class="pet" alt="">
    </div>
    <div>
        <img src="/images/logo.png" class="logo" alt="">
    </div>
    <br>
</footer>