<!DOCTYPE html>
<html lang="es_ES">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no" />
    <meta name="description" content="Rankig de posicionamiento de los mienbros activos en la comunidad." />
    <meta name="author" content="Adathink Lab" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
    <title>Ranking Kahoot y Retos Cumplidos</title>

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Rankig Adathink lab" />
    <meta itemprop="description" content="Rankig de posicionamiento de los mienbros activos en la comunidad." />
    <meta itemprop="image" content="/img/iconlogo.png" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://adathinklab.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Rankig Adathink lab" />
    <meta property="og:description" content="Rankig de posicionamiento de los mienbros activos en la comunidad." />
    <meta property="og:image" content="/img/iconlogo.png" />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="Adathink Lab" />
    <meta name="twitter:title" content="Rankig Adathink lab" />
    <meta name="twitter:description" content="Rankig de posicionamiento de los mienbros activos en la comunidad." />
    <meta name="twitter:image" content="/img/iconlogo.png" />

    <!-- Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body id="page-top">

    {{> nav_partial }}

    {{{ body }}}

    {{> footer_partial }}

</body>

</html>