<!-- Main -->
<main class="main hero-body container">
    <div class="table-container-div columns is-centered">
        <table class="table is-hoverable table-ranking">
            <thead>
                <tr>
                    <th><span>Position</span></th>
                    <th><span>Name</span></th>
                    <th><span>Total Kahoot</span></th>
                    <th><span>Puntos Kahoot</span></th>
                    <th><span>Total Retos</span></th>
                    <th><span>Puntos Retos</span></th>
                    <th><span>Puntos</span></th>
                </tr>
            </thead>
            <tbody id="body-ranking">
                <!--Ranking-->
            </tbody>
        </table>
    </div>
</main>

<img src="/images/pet-1.png" class="pet pet-left pet-1" alt="">
<img src="/images/pet-2.png" class="pet pet-right pet-2" alt="">
<img src="/images/pet-3.png" class="pet pet-left pet-3" alt="">
<img src="/images/pet-4.png" class="pet pet-right pet-4" alt="">
<img src="/images/pet-5.png" class="pet pet-left pet-5" alt="">
<img src="/images/pet-6.png" class="pet pet-right pet-6" alt="">

<canvas id="canvas"></canvas>

<audio controls id="bubble-sound" muted="muted">
    <source src="/sound/bubble.wav" type="audio/mpeg">
</audio>
<script src="/js/index.js"></script>
<script src="/js/fireworks.js"></script>